[Unit]
Description=Copy user gymnasticon.json
ConditionPathExists=/boot/gymnasticon.json
Before=gymnasticon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'install -o pi -g pi -m 644 /boot/gymnasticon.json /etc/gymnasticon.json && rm -f /boot/gymnasticon.json'

[Install]
WantedBy=multi-user.target
