[Unit]
Description=Lock /boot filesystem if / is an overlayfs in RO mode
Before=dbus-fi.w1.wpa_supplicant1.service
Before=sshswitch.service
Before=gymnasticon-mods.service
ConditionFileNotEmpty=/usr/local/sbin/lockbootfs

[Service]
ExecStart=/usr/local/sbin/lockbootfs
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
