[Unit]
Description=Place / filesystem into overlayfs and mount /boot filesystem in RO mode
Before=dbus-fi.w1.wpa_supplicant1.service
Before=gymnasticon-mods.service
ConditionFileNotEmpty=/usr/local/sbin/lockrootfs

[Service]
ExecStart=/usr/local/sbin/lockrootfs
ExecStartPost=systemctl disable lockrootfs
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
