[Unit]
Description=Place / filesystem into overlayfs
After=raspberrypi-net-mods.service
After=sshswitch.service
Before=gymnasticon-mods.service
ConditionPathExists=!/boot/no_read_only

[Service]
ExecStart=raspi-config nonint enable_overlayfs
ExecStart=systemctl disable lockrootfs
ExecStart=systemctl enable bootfs-ro
ExecStart=rm /etc/systemd/system/lockrootfs.service
ExecStart=reboot
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
